.login-container {
  background-color: #f0f2f5;
}

.login-left {
  width: 50%;
  background: linear-gradient(135deg, #e9f3ff 0%, #687d92 100%);
}

.login-right {
  width: 50%;
  overflow: hidden;
}

.login-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.login-box {
  width: 90%;
  max-width: 400px;
  background-color: #ffffff;
}

.login-head1 {
  font-weight: 700;
  font-size: 28px;
  color: #0d6efd;
}

.login-subhead {
  font-size: 14px;
  color: #6c757d;
}

.login-label {
  font-weight: 500;
}

.login-signup {
  font-size: 14px;
}
